:root {
  --pink: #f14e95;
  --pinkFisrt: #631935;
  --green: #f5d01b;
  --blue: #1b34f5;
  --bg: #0a0a0a;
  --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

body {
  font-size: 1.2 rem;
  font-family: "Work Sans", sans-serif;
  min-height: 4000px;
  overflow-x: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/background.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;
  filter: greyscale();
}

.hero {
  position: relative;
  min-height: 100vh;
}

.hero h1,
.hero h4,
.hero p {
  text-shadow: var(--shadow);
}

.hero h1 {
  /* font-family: "Klee One", cursive;
  font-size: 4.5rem; */
  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-size: 4.5rem;
  margin-top: 40px;
}

.hero h4 {
  font-size: 1.6rem;
}

.hero p {
  font-size: 2rem;
}

.hero a {
  background-color: var(--pink);
  color: white;
  box-shadow: var(--shadow);
}

.mynavbar {
  background-color: rgba(255, 255, 255, 0.3) !important;
  backdrop-filter: blur(4px);
}

.mynavbar .offcanvas {
  height: 100vh;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title,
.comment,
.textComments {
  font-family: "Klee One", cursive;
  font-size: 2rem;
  font-weight: bold;
}

.mynavbar .nav-link {
  text-transform: uppercase;
  font-family: "Klee One", cursive;
  font-weight: bold;
}

.home {
  /* content: "";
  position: absolute; */
  background-image: url(img/home.jpg);
  background-size: cover;
  background-position: center;
  margin-top: -4rem;
  padding: 12rem;
  padding-bottom: 5rem;
  /* top: 0;
  left: 0;
  width: 100%;
  height: 100%; */
  z-index: -1;
}

/* .home {
  position: relative;
  min-height: 100vh;
} */

.home h2,
.acara h2,
.galeri h2,
.reservasi h2,
.gifts h2 {
  color: var(--pink);
  font-family: "Klee One", cursive;
  font-size: 3rem;
  font-weight: bold;
}

.home h3 {
  color: #444;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.home p {
  font-size: 1.1rem;
  color: #666;
}

img {
  height: 200px;
  width: 200px;
}

.acara {
  background-color: var(--pinkFisrt);
  padding-top: 50px;
}

iframe {
  width: 100%;
}

.galeri {
  background-image: url(img/home.jpg);
}

.reservasi {
  background-color: var(--pinkFisrt);
}

.reservasi button {
  background-color: var(--pink);
  color: white;
  border: 1px solid var(--pink);
}

.reservasi button:hover {
  background-color: white;
  color: var(--pinkFisrt);
  border: 1px solid white;
}

footer {
  padding: 3rem;
  background-color: var(--pinkFisrt);
  color: #ffff;
}

footer a {
  color: var(--green);
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
  margin: 0.5rem;
}

footer a:hover {
  color: white;
}

footer li {
  list-style: none;
  display: inline;
}

.audio-icon-wrapper {
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  color: white;
  opacity: 0.5;
  mix-blend-mode: difference; /* memberikan warna yang berlawanan dengan bg */
  animation: rotating 4s linear infinite;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}

@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.sacra {
  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-size: 70px;
}

/* comments */
.kirim-pesan {
  background: #fff;
  padding: 20px;
  font-family: monospace;
  width: 500px;
  box-shadow: 0 0 5px #000;
}

.textComments {
  margin: 10px 0;
  font-family: sans-serif;
  font-size: 0.9em;
}

.comment,
.textComments {
  font-size: 20px;
}

.commentbox {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.commentbox > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
  object-position: center;
}

.content {
  width: 100%;
}

.user {
  border: none;
  outline: none;
  margin: 5px 0;
  color: #808080;
  margin-left: 20px;
  padding: 10px;
}

.commentinput > input {
  border: none;
  padding: 10px;
  padding-left: 0;
  outline: none;
  border-bottom: 2px solid blue;
  margin-bottom: 10px;
  width: 95%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #808080;
}

.buttons > button {
  padding: 5px 10px;
  background: lightgrey;
  color: #808080;
  text-transform: uppercase;
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
}

.buttons > button.abled {
  background: blue;
  color: #fff;
}

.policy {
  margin: 20px 0;
  font-size: 0.8em;
  font-family: Arial, sans-serif;
  color: #808080;
}

.policy a {
  text-decoration: none;
  color: blue;
}

.notify {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.notify > input {
  margin-right: 5px;
  border: 2px solid #808080;
}

.parents {
  font-family: Arial, sans-serif;
  display: flex;
  margin-bottom: 30px;
}

.parents h1 {
  font-size: 0.9em;
}

.parents p {
  margin: 10px 0;
  font-size: 0.9em;
}

.parents > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
  object-position: center;
}

.engagements {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.engagements img {
  width: 20px;
}

.engagements img:nth-child(1) {
  margin-right: 10px;
  width: 25px;
}

.date {
  color: #808080;
  font-size: 0.8em;
}

/* Media Query */
/* laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
  .simply-countdown > .simply-section {
    padding: 60px;
    margin: 5px;
  }
}

/* tablet*/
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }
  .mynavbar .nav-link {
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
  }
}
/* hp */
@media (max-width: 576px) {
  html {
    font-size: 62%;
  }
  .simply-countdown > .simply-section {
    padding: 45px;
    margin: 3px;
  }
}
